.site {
  // margin-right: auto;
  // margin-left: auto;
  // padding: 0 $spacer;
}

// RESPONSIVE SITE
/*@include mq-up(sm) {
  .site {
    padding: 0 $spacer2;
  }
}*/

// SITE HEADER ====================================

.site-logo {
  width: 3rem;
  height: 3rem;
}

.site-nav {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  justify-content: center;
  font-size: 1.4rem;
}

.site-title {
  text-align: center;
}

.site-subtitle {
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.site-nav a {
  flex: 0 1 auto;
  padding: 0 1rem;
  margin-right: $spacer0;
  transition: background 0.1s ease-out;
  white-space: nowrap;
  color: $theme-color-light;

  &:hover {
    text-decoration: none;
    color: $theme-color-light;
    background-color: $theme-color-less-dark;
  }

  &.current {
    background: $theme-color-light;
    color: $theme-color-dark;
  }
}

.nav-link {
  color: $theme-color-light;

  &.current {
    background: $theme-color-light;
    color: $theme-color-dark;
  }
}





// SITE FOOTER ====================================

.site-footer {
  // margin: 4rem 0 6rem;
  // padding-top: $spacer1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.site-footer {
  ul, li {
    margin-bottom: 0;
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

.site-author {
  font-weight: bold;
  margin-left: $spacer0;
}

.site-source a {
  color: $gray;
}

.site-links {
  @include clearfix();
}

.site-contact li,
.site-source li {

  &:not(:last-child)::after {
    content: '|';
    color: $brand-light-color;
    margin: 0 .3rem 0 $spacer0;
  }
}

// SITE FOOTER - RESPONSIVE ------------------
@include mq-up(sm) {
  .site-contact {
    float: right;
    width: 50%;
    text-align: right;
  }

  .site-source {
    float: left;
    width: 50%;
  }
}

// SITE SELECTION ====================================

::-moz-selection {
/*
  background-color: $brand-color;
  color: #fff;
  text-shadow: none;
  */
}

::selection {
  /*
  background-color: $brand-color;
  color: #fff;
  text-shadow: none;
  */
}

// SITE EMOJI ====================================

.emoji {
  width: 1em;
  height: 1em;
  vertical-align: inherit;

  &.right { margin-right: .3rem; }
  &.left { margin-left: .3rem; }
}

// CUSTOM CSS ================

.site-header, .site-footer {
  background: $theme-color-dark;
  width: 100%;
}

.site-header, .site-footer {
  color: $theme-color-light;
}
/*
  a, .site-source a {
    color: white;
  }
  .site-nav {
    a:first-child {
      margin-left: 1.0em;
    }
    a:last-child {
      margin-right: 1.0em;
    }
  }
  a:hover, .site-source a:hover {
    color: #f8e145;
    background-color: transparent;
  }
}*/

.site-content {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5em;
  padding: 2em;
  background: #fff;
  // border-radius: 20px;
  @include make-container();
}

.site-logo {
  width: 80%;
  height: auto;
  margin-top: 1rem;
  max-width: 50rem;
}

#contact-us + p + form {
  display: grid;

  textarea {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  h2 { font-size: 1.7rem }
.lead { font-size: 1rem }
}

@media (max-width: 768px) {
  .site-subtitle { font-size: 2rem }
}

@media (min-width: 768px) { .lead { font-size: 1.2rem } }

.pretty-links a  {
  background-image: none;
}

.pretty-links a:hover {
  color: $theme-color-dark;
}

// speakers page

#keynotes {
  border-bottom: 3px solid $yellow;
  border-bottom-style: double;

  ~ h2 {
    border-bottom: 3px solid $yellow;
    border-bottom-style: double;
  }

  ~ .bio {
    @media (min-width: 768px) {
      margin-right: 150px;
      min-height: 115px;
    }
  }

  ~ h3 {
    margin-bottom: 0.3rem;
  }

  ~ p {
    margin-bottom: 0.5rem;
  }

  ~ p img {
    width: 130px;

    @media (min-width: 768px) {
      margin-left: 10px;
      float: right;
    }
  }
}

#starcon-talk-lineup {
  ~ .abstract {
    font-size: 16px;
  }

  ~ ul {
    font-size: 16px;
  }

  ~ h3 {
    margin-bottom: 0.3rem;
  }

  ~ p {
    margin-bottom: 0.5rem;
  }
}

#sponsors {
  ~ p img {
    max-height: 100px;
    max-width: 360px;
    margin-left: -15px;
    margin-top: 30px;
  }
  ~ p a:hover {
  background-image: none;
  }
}

#code-of-conduct {
  ~ p, ~ ul {
    font-size: 16px;
  }
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
