table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 95%;
  font-size: 80%;
}

table tr + tr {
  border: 1px solid #ccc;
  border-top: 2px solid #ccc;
}

table td {
  border: 1px solid #ccc;
}

table td {
  padding: 0.4em;
  hyphens: none;
}

table th {
  font-weight: normal;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  line-height: 1.05;
  border: 1px solid #ccc;
  border-bottom: 2px solid #999;
}
